@font-face {
    font-family: 'FF Good Pro Cond';
    src: url('../fonts/FFGoodProCond-Bold.woff2') format('woff2'),
        url('../fonts/FFGoodProCond-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'FF Good Pro Cond';
    src: url('../fonts/FFGoodProCond-Light.woff2') format('woff2'),
        url('../fonts/FFGoodProCond-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'FF Good Pro Cond';
    src: url('../fonts/FFGoodProCond-Medium.woff2') format('woff2'),
        url('../fonts/FFGoodProCond-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FF Good Pro Cond';
    src: url('../fonts/FFGoodProCond-Regular.woff2') format('woff2'),
        url('../fonts/FFGoodProCond-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

