@font-face {
  font-family: 'rango';
  src:  url('fonts/rango.eot?rytwe3');
  src:  url('fonts/rango.eot?rytwe3#iefix') format('embedded-opentype'),
    url('fonts/rango.ttf?rytwe3') format('truetype'),
    url('fonts/rango.woff?rytwe3') format('woff'),
    url('fonts/rango.svg?rytwe3#rango') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="rango-"], [class*=" rango-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rango' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rango-bullet-circle-filled:before {
  content: "\e900";
}
.rango-check-box-filled .path1:before {
  content: "\e96a";
  color: rgb(0, 0, 0);
}
.rango-check-box-filled .path2:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.rango-check-box:before {
  content: "\e96c";
}
.rango-collaps:before {
  content: "\e96d";
}
.rango-compare:before {
  content: "\e96e";
}
.rango-expend:before {
  content: "\e96f";
}
.rango-facebook:before {
  content: "\e970";
}
.rango-google:before {
  content: "\e971";
}
.rango-headphone:before {
  content: "\e972";
}
.rango-heart-fill:before {
  content: "\e973";
}
.rango-instagram:before {
  content: "\e974";
}
.rango-linked-in:before {
  content: "\e975";
}
.rango-pintrest:before {
  content: "\e976";
}
.rango-retrun:before {
  content: "\e977";
}
.rango-return-product:before {
  content: "\e978";
}
.rango-share:before {
  content: "\e979";
}
.rango-star-filled:before {
  content: "\e97a";
}
.rango-twitter:before {
  content: "\e97b";
}
.rango-youtube:before {
  content: "\e97c";
}
.rango-annoucement:before {
  content: "\e901";
}
.rango-arrow-down:before {
  content: "\e902";
}
.rango-arrow-left:before {
  content: "\e903";
}
.rango-arrow-next:before {
  content: "\e904";
}
.rango-arrow-prev:before {
  content: "\e905";
}
.rango-arrow-right:before {
  content: "\e906";
}
.rango-arrow-up:before {
  content: "\e907";
}
.rango-automobile:before {
  content: "\e908";
}
.rango-bag:before {
  content: "\e909";
}
.rango-ball:before {
  content: "\e90a";
}
.rango-bar:before {
  content: "\e90b";
}
.rango-bell:before {
  content: "\e90c";
}
.rango-book:before {
  content: "\e90d";
}
.rango-bullet-circle-fill:before {
  content: "\e90e";
}
.rango-bullet-circle-holo:before {
  content: "\e90f";
}
.rango-bullet-circle-small:before {
  content: "\e910";
}
.rango-bullet-circle:before {
  content: "\e911";
}
.rango-bullet-minus:before {
  content: "\e912";
}
.rango-bullet-ract-fill:before {
  content: "\e913";
}
.rango-bullet-ract-holo:before {
  content: "\e914";
}
.rango-bullet-ract-small:before {
  content: "\e915";
}
.rango-bullet-ract:before {
  content: "\e916";
}
.rango-calender:before {
  content: "\e917";
}
.rango-camera:before {
  content: "\e918";
}
.rango-card:before {
  content: "\e919";
}
.rango-cart-2:before {
  content: "\e91a";
}
.rango-cart-3:before {
  content: "\e91b";
}
.rango-cart:before {
  content: "\e91c";
}
.rango-chat:before {
  content: "\e91d";
}
.rango-check-circle:before {
  content: "\e91e";
}
.rango-check:before {
  content: "\e91f";
}
.rango-clip:before {
  content: "\e920";
}
.rango-close:before {
  content: "\e921";
}
.rango-contact:before {
  content: "\e922";
}
.rango-cross:before {
  content: "\e923";
}
.rango-delete:before {
  content: "\e924";
}
.rango-dollar:before {
  content: "\e925";
}
.rango-down-word:before {
  content: "\e926";
}
.rango-download:before {
  content: "\e927";
}
.rango-envelop:before {
  content: "\e928";
}
.rango-error:before {
  content: "\e929";
}
.rango-exchange:before {
  content: "\e92a";
}
.rango-file:before {
  content: "\e92b";
}
.rango-filter:before {
  content: "\e92c";
}
.rango-flag2:before {
  content: "\e92d";
}
.rango-folder:before {
  content: "\e92e";
}
.rango-furniture:before {
  content: "\e92f";
}
.rango-gift:before {
  content: "\e930";
}
.rango-globe:before {
  content: "\e931";
}
.rango-heart:before {
  content: "\e932";
}
.rango-hide:before {
  content: "\e933";
}
.rango-home:before {
  content: "\e934";
}
.rango-icon:before {
  content: "\e935";
}
.rango-information:before {
  content: "\e936";
}
.rango-jwellery:before {
  content: "\e937";
}
.rango-kids:before {
  content: "\e938";
}
.rango-laptop:before {
  content: "\e939";
}
.rango-lipstick:before {
  content: "\e93a";
}
.rango-location:before {
  content: "\e93b";
}
.rango-lock:before {
  content: "\e93c";
}
.rango-map:before {
  content: "\e93d";
}
.rango-minus:before {
  content: "\e93e";
}
.rango-mobile:before {
  content: "\e93f";
}
.rango-pencil:before {
  content: "\e940";
}
.rango-percentage:before {
  content: "\e941";
}
.rango-pic:before {
  content: "\e942";
}
.rango-plus:before {
  content: "\e943";
}
.rango-power:before {
  content: "\e944";
}
.rango-print:before {
  content: "\e945";
}
.rango-privacy:before {
  content: "\e946";
}
.rango-product:before {
  content: "\e947";
}
.rango-refri:before {
  content: "\e948";
}
.rango-return:before {
  content: "\e949";
}
.rango-reward:before {
  content: "\e94a";
}
.rango-search:before {
  content: "\e94b";
}
.rango-shield:before {
  content: "\e94c";
}
.rango-shoe:before {
  content: "\e94d";
}
.rango-shop:before {
  content: "\e94e";
}
.rango-shor-acend:before {
  content: "\e94f";
}
.rango-sign-in:before {
  content: "\e950";
}
.rango-sign-out:before {
  content: "\e951";
}
.rango-sort-decend:before {
  content: "\e952";
}
.rango-star:before {
  content: "\e953";
}
.rango-sync:before {
  content: "\e954";
}
.rango-t-shirt:before {
  content: "\e955";
}
.rango-tag-2:before {
  content: "\e956";
}
.rango-tag-discount-2:before {
  content: "\e957";
}
.rango-tag-discount:before {
  content: "\e958";
}
.rango-tag:before {
  content: "\e959";
}
.rango-truck:before {
  content: "\e95a";
}
.rango-up-word:before {
  content: "\e95b";
}
.rango-upload:before {
  content: "\e95c";
}
.rango-user-buyer:before {
  content: "\e95d";
}
.rango-user-group:before {
  content: "\e95e";
}
.rango-user-info:before {
  content: "\e95f";
}
.rango-user-owner:before {
  content: "\e960";
}
.rango-user-profesional:before {
  content: "\e961";
}
.rango-user:before {
  content: "\e962";
}
.rango-video:before {
  content: "\e963";
}
.rango-view-grid:before {
  content: "\e964";
}
.rango-view-list:before {
  content: "\e965";
}
.rango-view:before {
  content: "\e966";
}
.rango-women:before {
  content: "\e967";
}
.rango-zoom-minus:before {
  content: "\e968";
}
.rango-zoom-plus:before {
  content: "\e969";
}
