@import url("font.css");
@import url("cssspin.css");
#buybutton-init {
    position: relative;
}
.buybutton-container {
    background: #FFFFFF;
}
.buybutton-title, .buybutton-cart {
    display:inline-block;
}
.buybutton-title {
    width: 70%;
}
.buybutton-cart {
    position: relative;
    float: right;
    background: rgba(30,136,229,1);
    border-radius: 3px;
    padding: 5px 12px;
    line-height: 100%;
    cursor:pointer;
}
.buybutton-cart .icon-cart {
    cursor: pointer;
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 6px;
    vertical-align: super;
}
.buybutton-cart .rango-cart {
    font-size: 30px;
    color: #ffffff; 
}
.bb-cart-count {
    font-size: 12px;
    position: absolute;
    background: #2A2727;
    border-radius: 50%;
    padding: 3px 5px;
    left: 32px;
    top: 4px;
}
.clear-float {
    clear:both;
}
.bb-mini-cart-body {
    max-height: 300px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;   
}
.bb-mini-cart-container {
    position: absolute;
    display: none;
    background: #fff;
    z-index: 999;
    /* border: 1px solid #ccc; */
    top: 102%;
    width: 240px;
    right: 0;
}
.no-data-found {
    color: #555;
    font-size: 14px;
    padding: 5px 12px;
}
.bb-show {
    display: block;
}
.bb-hide {
    display: none;
}
.bb-strong {
    font-weight: bold;
}
.bb-cart-wrapper {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    cursor: default;
}
.bb-cart-details {
    padding:7px;
}
.bb-cart-items-summary, .bb-cart-subtotal {
    display: inline-block;
    width: 100%;
    margin: 2px 0;
}

.bb-cart-items-summary {
    text-align: left;
}
.bb-cart-item-image {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}
.bb-cart-item-image > img {
    width: 100%;
}
.bb-cart-item-details {
    display: inline-block;
    width: 70%;
}
.bb-cart-item {
    margin: 10px 0;
    /* border-bottom: 1px solid #ccc; */
}
.bb-cart-item-name {
    font-size: 16px;
    padding: 5px;
}
.bb-cart-item-price {
    font-size: 16px;
    padding: 5px;
}
.bb-cart-item-qty {
    padding: 5px;
    font-size: 16px;
    display: inline-block;
}
.bb-cart-item-qty span {
    display: inline-block;
    margin-right: 9px;    
}
.bb-cart-item-qty .bb-item-qty-text {
    width: 40px;
    border: 1px solid #ccc;
    text-align: center;
    padding: 4px;
    display: inline-block;
}
.bb-cart-item-actions {
    display: inline-block;
    width: 30%;
    vertical-align: bottom;
    margin-bottom: 9px;
    margin-left: 10px;
}
.bb-delete-item {
    cursor: pointer;
    font-size: 20px;
}

.bb-mini-cart-head {
    text-align: left;
    margin-bottom: 2px;
}
.bb-cart-checkout {
    padding:5px;
}

.bb-cart-checkout .button {
    background: rgba(30,136,229,1);
    border: 1px solid rgba(30,136,229,1);
    vertical-align: middle;
    padding: 7px 15px;
    color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.buybutton-items{
    text-align: left;
}
.buybutton-item {
    width: 18.4%;
    display: inline-block;
    vertical-align: top;
    margin: 1.8%;
    text-align: center;
}
.buybutton-item-full {
    width: 100% !important;
    margin: 0 !important;
}
.buybutton-item-image {
    max-width: 100%;
    height: 250px;
    margin: 0 auto 5px auto;
}
.buybutton-item-image img {
    width: 100%;
    max-width:250px;
    height:100%;
}
.buybutton-item-name, .buybutton-item-price, .buybutton-item-view {    
    margin: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 15px;
    cursor: pointer;
}

button.buybutton-primary {
    background: #1979c3;
    border: 1px solid #1979c3;
    vertical-align: middle;
    padding: 7px 15px;
    color: #ffffff;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}
.buybutton-product-addtocart > button.buybutton-primary {
    width:100%;
}

button.buybutton-primary:active {
}

/* //modal css */

.buybutton-modal-container {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:99999;
    background: rgba(255,255,255, .7);
}
.buybutton-modal-close  {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    cursor: pointer;
}
.buybutton-modal {
    position: relative;
    margin: 50px auto;
    width: 70%;
    background: #FFFFFF;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.23), 0 3px 6px 0 rgba(0,0,0,0.16);
    padding:10px;
}
.buybutton-modal-left {
    width: 30%;
}
.buybutton-modal-right {
    width: 65%;
}
.buybutton-modal-left, .buybutton-modal-right {
    display: inline-block;
    vertical-align: top;
}
.buybutton-modal-image > img {
    width:100%;
}
.buybutton-product-details {
    padding: 30px 19px;
}

.buybutton-product-name {
    
    font-size: 24px;
    color: #464343;
    letter-spacing: 0;
}
.buybutton-product-sku {
    
    font-size: 16px;
    color: #666666;
    letter-spacing: 0;
}
.buybutton-product-price {
    
    font-size: 24px;
    color: #1E1E1E;
    letter-spacing: 0;
    font-weight: bold;
}

.buybutton-product-description {
    
    font-size: 16px;
    color: #666666;
    letter-spacing: 0;
    line-height: 21px;
}

#bb-checkout-iframe {
    position: fixed;
    top: 0px;
    left: 25%;
    width:50%;
    height:100%;
}
#bb-checkout-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999998;
    background: rgba(255,255,255,.7);
    text-align: center;
    display: none;
}
#bb-checkout-container .bb-checkout-close {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border: 1px solid;
    position: absolute;
    left: 59px;
    top: 10px;
    cursor: pointer;
}
.bb-ajax-loader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999998;
    background: rgba(255,255,255,.7);
}
.bb-ajax-loader .bb-loader {
    position:absolute;
    top:45%;
    left:45%;
}
.bb-option-wrapper > .options-wrapper, .bb-configurable-option-wrapper > .configuarbele-options {
    /* padding: 10px; */
    width: 100%;
}
.bb-option-wrapper > .options-wrapper .option-wrapper, .bb-configurable-option-wrapper > .configuarbele-options .configurable-option-elements {
    padding: 5px;
    margin: 10px 0;
}
.bb-option-wrapper > .options-wrapper .option-wrapper > .option-elements .label, .bb-configurable-option-wrapper > .configuarbele-options .configurable-option-elements .label {
    font-weight: bold;
}
.bb-option-wrapper > .options-wrapper .option-wrapper > .option-elements .label.required::after, .bb-configurable-option-wrapper > .configuarbele-options .configurable-option-elements .label.required::after {
    content: '*';
    display: inline-block;
    color: red;
    margin-left: 10px;
    
}
.bb-option-notice p {
    font-size: 12px;
}
.bb-option-notice p.error {
    color:red;
}
.bb-option-wrapper > .options-wrapper .option-wrapper > .option-elements .bb-input-text-control > select, .bb-configurable-option-wrapper > .configuarbele-options .configurable-option-elements  select {
    width: 100%;
    border: 1px solid #ccc;
    height: 30px;
    margin-top: 10px;
}
.bb-option-wrapper > .options-wrapper .option-wrapper > .option-elements .bb-input-text-control > select.multiple {
    height: 70px;
    width:auto;
}
.bb-option-wrapper > .options-wrapper .option-wrapper > .option-elements .bb-input-text-control > input[type='text'] {
    width: 100%;
    border: 1px solid #ccc;
    height: 30px;
    margin-top: 10px;
}
.bb-option-wrapper > .options-wrapper .option-wrapper > .option-elements .bb-input-text-control > textarea {
    width: 100%;
    border: 1px solid #ccc;
    height: 30px;
    margin-top: 10px;
}
.bb-option-wrapper > .options-wrapper .option-wrapper > .option-elements .bb-input-text-control > input[type='radio'] {
    margin-top: 10px;
    margin-right:5px;
}
.bb-option-wrapper > .options-wrapper .option-wrapper > .option-elements .bb-input-text-control > input[type='checkbox'] {
    margin-top: 10px;
    margin-right:5px;
}

.bb-option-wrapper > .options-wrapper .option-wrapper > .option-elements .bb-input-text-control > input[type='file'] {
    margin-top: 10px;
}
.bb-option-wrapper > .options-wrapper .option-wrapper > .option-elements .bb-input-text-control > select.date-time-options {
    display: inline-block;
    width: 70px;
    margin-left: 5px;
}
.bb-item-options-details {
    margin-top:10px;
}
.bb-view-options-details-show {
    font-size: 14px;
    cursor: pointer;
} 
.bb-view-options-details-container {
    margin-top:10px;
}   

.bb-option-details {
    font-size:14px;
    margin: 10px 0;
}
.buybutton-item-image-container {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.buybutton-attr-container {
    display: inline-block;
    width: 60%;
    vertical-align: top;
    text-align: left;
    padding: 10px;
    margin-left: 5px;
}

/* responsive css */

.buybutton-item.width-less-then-890 {
    width:25%;
}

.buybutton-item.width-less-then-638 {
    width:40%;
}

.buybutton-item.width-less-then-383 {
    width:100%;
}