<?php
/** @var \Pixafy\BoomiInvoice\Block\Invoice\View $block */
    $invoice = $block->getData('invoice');
?>
<div class="order-title">
    <a href="<?= /* @escapeNotVerified */ $block->getPrintInvoiceUrl($invoice) ?>"
       onclick="this.target='_blank'"
       class="action print">
        <span><?= /* @escapeNotVerified */ __('Print Invoice') ?></span>
    </a>
</div>
<div class="table-wrapper table-order-items invoice">
    <table class="data table table-order-items invoice" id="my-invoice-table-<?= /* @escapeNotVerified */ $invoice->getId() ?>">
        <caption class="table-caption"><?= /* @escapeNotVerified */ __('Items Invoiced') ?></caption>
        <thead>
        <tr>
            <th class="col name"><?= /* @escapeNotVerified */ __('Product Name') ?></th>
            <th class="col sku"><?= /* @escapeNotVerified */ __('SKU') ?></th>
            <th class="col price"><?= /* @escapeNotVerified */ __('Price') ?></th>
            <th class="col qty"><?= /* @escapeNotVerified */ __('Qty Invoiced') ?></th>
            <th class="col subtotal"><?= /* @escapeNotVerified */ __('Subtotal') ?></th>
        </tr>
        </thead>
        <?php $items = $invoice->getAllItems(); ?>
        <?php foreach ($items as $item): ?>
            <?php if (!$item->getOrderItem()->getParentItem()) : ?>
                <tbody>
                <?= $block->getItemHtml($item) ?>
                </tbody>
            <?php endif; ?>
        <?php endforeach; ?>
        <tfoot>
        <?= $block->getInvoiceTotalsHtml($invoice) ?>
        </tfoot>
    </table>
</div>
<p><?= $block->getInvoiceNote() ?></p>
<?= $block->getInvoiceCommentsHtml($invoice) ?>
