<?php
/**
 * @copyright Copyright © 2021 Pixafy. All rights reserved.
 * @author Hector Perez Hernandez <hperez@zircon.tech>
 */

/**
 * @var $block Magento\Framework\View\Element\Template
 */
?>

<div class="footer content">
    <div class="footer-row ">
        <div class="footer-column">
            <?php
            $block = $this->getLayout()->createBlock('Magento\Cms\Block\Block');
            if($block) {
                $block->setBlockId('footer_block_left');
            }
            if($block){
                echo $block->toHtml();
            }
            ?>
        </div>
        <div class="footer-column">
            <?php
            $block = $this->getLayout()->createBlock('Magento\Cms\Block\Block');
            if($block) {
                $block->setBlockId('footer_block_right');
            }
            if($block){
                echo $block->toHtml();
            }
            ?>
        </div>
    </div>
</div>
