<!--
/**
 * Pixafy_Boomi extension
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 *
 * @category  Pixafy
 * @package   Pixafy_Boomi
 * @copyright Copyright (c) 2023
 * @license   http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<div class="data-grid-cell-content sync_status">
    <!-- ko if: $row().message -->
    <span class="sync_status_tooltip">
        <a href="#" class="tooltip-toggle" text="$col.getLabel($row())"></a>
        <span class="tooltip-content" role="tooltip" data-bind="text: $col.getTooltipMessage($row())"></span>
    </span>
    <!-- /ko -->
    <!-- ko ifnot: $row().message -->
    <span text="$col.getLabel($row())"></span>
    <!-- /ko -->
</div>
