// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common =true) {
    * {
        box-sizing: border-box;
    }
    body,html {
        font-family: @font-family-name__base !important;
        font-weight: normal;
        font-size: 15px;
    }

    .pages {
        .lib-pager();

        .action {
            @_shadow: inset 0 1px 0 0 @color-white,
            inset 0 -1px 0 0 fade(@border-color__base, 30);

            .lib-css(box-shadow, @_shadow);
            border-radius: 3px;
            padding: 0 8px;

            &.previous {
                margin-right: 8px;
            }

            &.next {
                margin-left: 8px;
            }
        }
    }

    .page-products {
        .products-grid {
            .product-item {

                .product-item-info,
                .product-item-info:not(:hover):not(.active) {
                    padding: 0 0 .5vw;
                    position: relative;

                    &.active,
                    &:active,
                    &:hover,
                    &:focus,
                    &:focus-within {
                        border-color: transparent;
                        margin: 0;
                        padding: 0 0 .5vw;

                        .product-item-inner {
                            background-color: transparent;
                            opacity: 1;
                        }
                    }

                    .product-item-inner {
                        background-color: transparent;
                        border-width: 0;
                        clip: auto;
                        box-shadow: none !important;
                        display: block;
                        height: auto;
                        left: auto;
                        margin: 0 !important;
                        opacity: 0;
                        padding: 0 10px;
                        position: relative;
                        right: auto;
                        width: auto;

                        .lib-css(transition, opacity .2s linear, 1);

                        .product-item-actions {
                            margin: 0;
                        }
                    }

                    .product-item-name,
                    .price-box,
                    .product-reviews-summary {
                        padding: 0 .5vw;
                    }

                    .product-image-wrapper {
                        padding-bottom: 105% !important;
                    }

                    .product-image-photo {
                        margin: 0 auto;
                    }

                    .product-item-photo,
                    .product-item-details {
                        &:visited {
                            opacity: 0.8;
                        }
                    }

                    .product-item-details {
                        position: relative;

                        .price-message {
                            display: block;
                            font-size: 1.2rem;
                            padding: 0 0.5vw;
                        }

                        .price-final_price:nth-last-child(3) {
                            margin-bottom: 0.5rem;
                        }
                    }
                }

                .tocart {
                    border-radius: @button__border-radius;
                }
            }
        }
    }

    .opc-progress-bar {
        padding-top: 10px;
    }

    .page-footer {
        background-color: var(--footer-bg);

        .footer {
            &.content {
                .lib-css(display, flex, 1);
                .lib-css(flex-wrap, wrap, 1);

                .links {
                    padding-bottom: 30px;
                    .lib-css(flex, 1 1 50%, 1);

                    &.newsletter {
                        .lib-css(flex, 1 1 100%, 1);
                    }

                    &.social {
                        padding-left: 15px;
                    }

                    h3 {
                        margin-top: 0;
                    }

                    .block.newsletter {
                        float: none;
                        width: 100%;
                    }
                }
            }
        }
    }

    .block-products-list,
    .block-compare,
    .block-reorder,
    .block-wishlist {
        .product-item {
            .product-item-name {
                display: inline-block;
                max-width: 100%;
                overflow: hidden;
                text-align: left;
            }

            .product-item-link {
                display: inline-block;
                margin-top: 2px;
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                vertical-align: middle;
                white-space: nowrap;
            }

            .product-item-details {
                position: relative;
                text-align: left;

                .price-message {
                    display: block;
                    font-size: 1.2rem;
                }

                .price-final_price:nth-last-child(3) {
                    margin-bottom: 0.5rem;
                }
            }
        }

        .action {
            &.primary:not(:focus) {
                box-shadow: none;
            }
        }
    }

    .block-products-list {
        .product-item-details {
            .price-message {
                padding: 0 0.5vw;
            }
        }
    }

    .wishlist-index-index {
        .product-grid.wishlist {
            .product-item {
                .product-item-details {
                    position: relative;

                    .price-message {
                        display: block;
                        font-size: 1.2rem;
                        padding: 0 0.5vw;
                    }

                    .price-final_price:nth-last-child(3) {
                        margin-bottom: 0.5rem;
                    }
                }
            }
        }
    }

    // allow blocks to go be full width on hp
    .cms-index-index {
        .page-header,
        .nav-sections {
            margin-bottom: 0 !important;
        }

        .page-main {
            max-width: none !important;

            .main {
                .block {
                    max-width: 100% !important;
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                }
            }
        }

        .product-item-details {
            .price-box {
                .price-label {
                    font-size: 20px !important;
                }
            }
        }
    }

    .hp-banner {
        text-align: center;
        background: #f7f7f7;

        img {
            width: 100%;
            max-width: none;
        }

        >div {
            padding: 20px;
        }

        h2 {
            margin-top: 0;
            margin-bottom: 1rem;
        }

        p {
            margin-bottom: 1rem;
        }

        a {
            display: inline-block;
            color: #fff;
            padding: 20px;
            margin: 10px;
        }
    }

    .content-heading {
        position: relative;

        h2 {
            font-size: 2.8rem;
            margin: 0 !important;
            padding: 0 !important;
        }

        &:before {
            content: '';
            display: block;
            height: 1px;
            width: 100%;
            position: absolute;
            top: 28px;
            left: 0;
            z-index: -1;
            .lib-css(background, radial-gradient(ellipse at center, #fff 25%, #cecece 100%));
        }
    }

    .why-create-account {
        .num {
            border: 2px solid gray !important;
            border-radius: 50% !important;
            margin: 10px auto !important;
            height: 36px;
            width: 38px;
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 3.25rem;
        }

        .pagebuilder-button-primary {
            font-size: 1.4rem !important;
            padding: 7px 15px !important;
        }
    }

    .featured-categories {
        div[data-content-type="buttons"] {
            div[data-content-type="button-item"] {
                &:first-child {
                    a {
                        font-size: 1.6rem;
                    }
                }

                a {
                    color: @dark_navy;
                    margin: 5px 0 0 !important;
                    padding: 0 !important;
                    font-weight: normal !important;
                    font-size: 1.4rem;
                }
            }
        }
    }

}

//
//  Mobile up to "Tablet"
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__s) {
    .pages {
        & &-items {
            display: block;
            padding: 2px 40px 0;
            position: relative;
            white-space: normal;
            z-index: 1;
        }

        &-item-previous {
            left: 0;
            position: absolute;
            top: 0;
            z-index: 1;
        }

        &-item-next {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
        }
    }
}

//
// Mobile up to Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
    .why-create-account {
        .pagebuilder-column {
            border-bottom: 2px dashed gray !important;

            &:first-child {
                border-bottom: none !important;
            }

            &:last-child {
                margin-top: 20px !important;
                border-bottom: none !important;
            }
        }
    }

    .content-heading {
        margin-top: 30px !important;
    }

    .featured-categories {
        .pagebuilder-column {
            div[data-content-type="buttons"] {
                background: #f7f7f7;
                margin-top: -5px !important;
                padding: 15px !important;
            }
        }
    }
}

//
// Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
    .page-header {
        .action-auth-toggle {
            top: -15px;
            box-shadow: none !important;
            position: relative;
        }
    }

    .with-margin {
        .margin-left {
            margin-left: 15px !important;
        }
        .margin-right {
            margin-right: 15px !important;
        }
    }

    .page-footer {
        .footer {
            &.content {
                .links {
                    .lib-css(flex, ~"1 1 calc(100% / 3)", 1);
                    padding-right: 0;

                    &.newsletter {
                        .lib-css(flex, ~"1 1 calc(100% / 3)", 1);
                    }
                }
            }
        }
    }

    .page-layout-1column,
    .page-layout-2columns-left,
    .page-layout-2columns-right {
        .block {
            .block-content a.action {
                font-size: 18px;
            }

            .block-title a.action.small {
                font-size: 18px;
                margin-left: 5px;
            }
        }

        input,
        .field.note {
            font-size: 20px !important;
        }

        #block-collapsible-nav {
            .nav.items {
                li {
                    font-size: 20px;
                }
            }
        }

        .sidebar-additional {
            #block-reorder-heading,
            #block-compare-heading,
            .block-wishlist,
            .block-reorder,
            .block-title strong,
            .block-compare {
                font-size: 20px;
            }
        }

        form {
            input,
            textarea,
            label.label {
                font-size: 20px;
            }

            select {
                width: 100%;
                font-size: 20px;
            }

            legend.legend span {
                font-size: 20px;
            }
        }
    }

    .customer-account-login {
        .form-login {
            span {
                font-size: 20px;
            }

            .actions-toolbar{
                .secondary {
                    font-size: 20px;
                }
            }
        }

        .block-new-customer p {
            font-size: 20px;
        }
    }

    .customer-account-create {
        .form-create-account {
            select {
                width: 100%;
                font-size: 20px;
            }
        }
    }

    .customer-account-forgotpassword {
        .form.password.forget {
            span {
                font-size: 20px;
            }
        }
    }

    .customer-account-index {
        .column.main .block:not(.widget) .block-title{
            margin-bottom: 20px;
            padding-bottom: 0;
        }

        table#my-orders-table {
            font-size: 20px;
            margin-bottom: 10px;
        }

        .column.main h2 {
            margin-bottom: 10px;
        }
    }

    .catalogsearch-result-index {
        dl.block,
        .toolbar-products {
            font-size: 18px;

            select#sorter {
                font-size: 18px;
            }
        }

        .product-item-details {
            .price-box {
                .price-label {
                    font-size: 18px !important;
                }
            }
        }
    }

    .checkout-index-index {
        .opc-wrapper {
            .opc {
                font-size: 20px;
            }

            .checkout-shipping-address {
                .shipping-address-item.selected-item,
                .shipping-address-item.not-selected-item,
                .shipping-address-item {
                    font-size: 20px;
                }
            }

            .checkout-payment-method {
                .billing-address-details {
                    margin-bottom: 20px;
                }

                form#discount-form {
                    input#discount-code {
                        height: 40px;
                    }
                }
            }
        }

        aside.modal-custom.opc-sidebar.opc-summary-wrapper.custom-slide {
            font-size: 20px;
        }
    }

    .checkout-onepage-success{
        .column.main .checkout-success {
            font-size: 20px;
        }

        a.action.print {
            font-size: 20px;
        }
    }
}

// Desktop Up
.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
    .page-footer {
        .footer {
            &.content {
                .links {
                    .lib-css(flex, ~"1 1 calc(100% / 3)", 1);
                    padding-right: 0;

                    &.newsletter {
                        .lib-css(flex, ~"1 1 calc(100% / 3)", 1);
                    }
                }
            }
        }
    }

    .content-heading {
        margin-top: 40px !important;

        &:before {
            top: 28px;
        }
    }

    .hp-banner {
        position: relative;
        background: 0 0;

        >div {
            position: absolute;
            top: 50%;
            left: 50%;
            .lib-css(transform, translate(-50%, -50%));
            padding: 30px;
            background: rgba(247, 247, 247, .9);
        }
    }

    .why-create-account {
        margin: 30px auto !important;

        .pagebuilder-column {
            border-right: 2px dashed gray !important;

            div[data-content-type="text"] {
                &:not(.num) {
                    min-height: 50px;
                }
            }

            &:last-child {
                border-right: none !important;
                margin-top: 0 !important;
            }
        }
    }

    .featured-categories {
        .pagebuilder-column {
            position: relative;

            div[data-content-type="buttons"] {
                position: absolute;
                bottom: 35px;
                background: rgba(0, 0, 0, .6);
                width: calc(~"100% - 20px");
                padding: 20px !important;
                pointer-events: none !important; // this removes the weird deadspots between the banner and the text

                a {
                    color: @off_white  !important;
                }

                div[data-content-type="button-item"] {
                    &:first-child {
                        a {
                            margin-top: 0 !important;
                        }
                    }
                }
            }
        }
    }
}
