// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Luma theme variables
//  _____________________________________________

//
//  Typography
//  ---------------------------------------------

//  Fonts
@font-family-name__base: 'FF Good Pro Cond';
@font-family__base: @font-family-name__base, @font-family__sans-serif;

// /**
// * Laurel Sage Color Palette
// * HEX     RGB
// * #eeeeee (238,238,238)
// * #dddddd (221,221,221)
// * #cccccc (204,204,204)
// * #053e52 (5,62,82)
// * #90b9a5 (144,185,165)
// */

@off_white: #eeeeee;
@light_gray: #dddddd;
@dark_gray: #808080;
@gray: #cccccc;
@dark_navy: #053e52;
@laurel_sage: #90b9a5;
@green: #5faf30;
@pink: #fa108b;
@gold: #b77e30;
@chromatic_brown: #34151a;
@gac_black: #000410;
@gac_gray: #1b2328;
@qor_gray: #1b2328;

//  Colors
@color-true-white: #ffffff;
@color-white: @off_white;
@color-white-smoke: @gray;
@page__background-color: @color-true-white;
@color_primary: @green;
@primary__color: @green;
@active__color: @gold;
@text__color__muted: @laurel_sage;

//
//  Icons
//  ---------------------------------------------

@icon-success: '\e60e';
@icon-error: '\e61f';
@icon-edit: '\e601';
@icon-print: '\e624';
@icon-star-empty: '\e625';
@icon-download: '\e626';
@icon-private: '\e629';
@icon-present: '\e62a';
@icon-gift-registry: '\e62b';

@icon-calendar__font-size: 22px;

//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background

//
//  Sidebar blocks
//  ---------------------------------------------
@block-items__counter__color: @color-gray43;

//
//  Minicart Colors
//  ---------------------------------------------
@minicart-icons-color: @dark_navy;

//
//  Nav Colors
//  ----------------------------------------------
@navigation-level0-item__border: @color_primary;


:root {
  --white: @off_white;
  --light-gray: @light_gray;
  --gray: @gray;
  --dark-gray: @dark_gray;
  --dark-navy: @dark_navy;
  --laurel-sage: @laurel_sage;
  --primary: @dark_navy;
  --header-bg: @light_gray;
  --footer-bg: @laurel_sage;
  --copyright-bg: @light_gray;
  --copyright-text: @color-true-white;
  --border-color: @gray;
  --button: @dark_navy;
  --button-text: @off_white;
  --button-text-hover: lighten(@off_white, 10%);
  --button-hover: lighten(@dark_navy, 10%);
  --button-focus: lighten(@dark_navy, 10%);
  --button-active: lighten(@dark_navy, 15%);
}
