// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .product-social-links .action.towishlist:before,
    .block-bundle-summary .action.towishlist:before,
    .product-item .action.towishlist:before,
    .table-comparison .action.towishlist:before {
        color: @pink;
    }
}
